#Gradle
.gradletasknamecache
.gradle/
build/
bin/

# Compiled class file for java
*.class

# Log file
*.log


## Core latex/pdflatex auxiliary files:
*.aux
*.bbl
*.blg
*.gz
*.log
*.lof
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
